<div class="tweet-main-div">
  <div class="tweet-head-div {{selected}}">
    <img class="tweet-profile" 
        src="{{url}}" 
        alt="profile"
      />
    <div class="tweet-content-div">
      <p class="tweet-name" >{{name}}</p>
      <p class="tweet-content">{{text}}</p>
    </div>
  </div>
  <hr class="tweet-separator"/> 
</div>
