.tweet-content-div {
  display: inline-block;
  padding-left: 4px;
  line-height: 4px;
}

.tweet-content-div:hover {
  cursor: pointer;
}

.tweet-profile {
  margin-top: -24px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tweet-head-div {
  padding: 8px;
}

.tweet-name {
  font-size: 16px;
  margin-top: 14px;
  font-weight: 600;
}

.tweet-content {
  font-size: 12px;
}

.tweet-separator {
  margin: 0px;
}

.selected-tweet {
  background: #abcdef;
}
