
<div class="row main-row">
  <div class="container-fluid" style="margin: 15px">
    <!-- Headlines -->
    <div>
      <hr style="background-color: #dee2e6;border: 1px solid #dee2e6">
      <h2>Twitter Posts</h2>
      <div class="row">
        <div class="col-lg-3 tweet-box-div">
          <div class="tab-content" id="pills-tabContent" *ngFor="let tweet of tweets">
            <div class="row">
              <div class="col-lg-12">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <app-tweet (click)="loadThreads(tweet.id)"
                    selected="{{tweet.id==selectedId ? 'selected-tweet' : ''}}"
                    name="{{tweet.user_screen_name}}" 
                    url="{{tweet.profile_image_url}}"
                    text="{{tweet.text}}">
                  </app-tweet>
                </div>
              </div><br><br><br>
            </div>
          </div>
          <!-- </div> -->

        </div>
        <!-- Reactions -->
        <div class="col-lg-6 thread-box-div">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
							<div class="mesgs" *ngFor="let thread of threads">
                <app-thread 
                  own="{{thread.userId==loggedUserId ? 'own-thread' : ''}}"
                  name="{{thread.name}}"
                  url="{{thread.profile_image_url}}"
                  text="{{thread.comments}}"
                  time="{{thread.created_at}}">
                </app-thread>
							</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>