/*
%sprite{
    background:url('images/sprite.png') left 100% no-repeat;
    display: inline-block;
    vertical-align: middle;
}*/

/*
[data-way2="Dashboard"] {
    background:url('http://localhost:63342/digitalhtml/images/sprite.png') left 100% no-repeat;
    background-position: 0px 0px;
    height: 20px;
    width: 21px;
}*/

.no-data
{
  margin: 120px 0;
  text-align: center;
}





button.jumbotron{
    color: #fff;
    padding: 12px 30px;
    font-size: 14px;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 1;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border: 2px solid #013b53;
    background-color: #013b53;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
    text-transform: uppercase;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
}

button.jumbotron:hover {
  color: #FFF;
  background-color: #013b53d6;
  border: 2px solid #013b53d6;
}
button.jumbotron span{
  position: absolute;
  text-transform: lowercase;
  right: 35%;
  top: 50px;
  color: #F00;
  font-size: 12px;
}
.digi-error-login
{
    position: absolute;
    color: #F00;
    right: 0;
    top: -20px;
    font-size: 12px;
}
.digi-error-login.digi-error-upload
{
  right: 10px;
  top: 2px;
}



::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d9d9de;
  min-height: 36px;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}

table thead.dibg
{
  background: #f9f9f9;
  box-shadow: 0px 2px 2px #00000024;
  -moz-box-shadow: 0px 2px 2px #00000024;
  -webkit-box-shadow: 0px 2px 2px #00000024;
}
table tbody tr:hover{
  background: #c4e2ff42;
    border-color: #c4e2ff;
    cursor: pointer;
}

.fr
{
  float: right;
}
