<div class="container-fluid page-body-wrapper full-page-wrapper">
  <!-- <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one"> -->
  <div class="row w-100 mx-auto">
    <div class="col-lg-4 mx-auto">
      <div class="auto-form-wrapper">
        <div class="text-center mb-4">Twitter App</div>
        <!-- Login Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" [hidden]="hideLogin">
          <div class="form-group">
            <label class="label">Email</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="email"
                [ngClass]="{ 'is-invalid': lf.email.errors && (lf.email.touched || lf.email.dirty) }">
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-check"></i></span>
              </div>
              <div *ngIf="lf.email.errors && (lf.email.touched || lf.email.dirty)" class="digi-error-login">
                <div *ngIf="lf.email.errors.required">Email is required</div>
                <div *ngIf="lf.email.errors.pattern">Plase enter valid email address</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="label">Password</label>
            <div class="input-group">
              <input type="password" class="form-control" formControlName="password"
                [ngClass]="{ 'is-invalid': lf.password.errors && (lf.password.touched || lf.password.dirty) }" />
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-check"></i></span>
              </div>

              <div *ngIf="lf.password.errors && (lf.password.touched || lf.password.dirty)" class="digi-error-login">
                <div *ngIf="lf.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="jumbotron" [disabled]="!loginForm.valid">Login <span *ngIf="!validUser">{{error}}
              </span></button>
          </div>
          <!-- <div class="form-group">
              <button class="btn btn-block g-login"><img class="mr-3" src="assets/images/icon-google.svg" alt="">Log in with Google</button>
            </div> -->
          <div class="text-block text-center my-3">
            <span class="text-small mr-2">Forgot Password?</span>
            <a (click)="onClickforgotPassword()" style="cursor: pointer"
              class="text-black text-small font-weight-semibold">Click here</a>
          </div>
          <div class="text-block text-center my-3">
            <span class="text-small mr-2">Not a member ?</span>
            <a class="text-black text-small font-weight-semibold" (click)="onClickRegister()">Create new
              account</a>
          </div>
        </form>
        <!-- Register Form -->
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()" [hidden]="hideRegister">
          <div class="form-group">
            <label class="label">Name</label>
            <div class="input-group">
              <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': rf.name.errors && (rf.name.touched || rf.name.dirty) }" />
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-check"></i></span>
              </div>
              <div *ngIf="rf.name.errors && (rf.name.touched || rf.name.dirty)" class="digi-error-login">
                <div *ngIf="rf.name.errors.required">First Name is required</div>
                <div *ngIf="rf.name.errors.minlength">Min 3 character required </div>
                <div *ngIf="rf.name.errors.maxlength">Max 15 character allowed</div>
                <div *ngIf="rf.name.errors.pattern">
                  Name does not contain any number or special characters</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="label">Email</label>
            <div class="input-group">
              <input type="text" formControlName="email_id" class="form-control"
                [ngClass]="{ 'is-invalid': rf.email_id.errors && (rf.email_id.touched || rf.email_id.dirty)}" />
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-check"></i></span>
              </div>
              <div *ngIf="rf.email_id.errors && (rf.email_id.touched || rf.email_id.dirty)" class="digi-error-login">
                <div *ngIf="rf.email_id.errors.required">Email is required</div>
                <div *ngIf="rf.email_id.errors.pattern">Email must be a valid email address</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="label">Mobile</label>
            <div class="input-group">
              <input type="text" placeholder="+91" formControlName="phone_number" class="form-control"
                [ngClass]="{ 'is-invalid': rf.phone_number.errors && (rf.phone_number.touched || rf.phone_number.dirty)}" />
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-check"></i></span>
              </div>
              <div *ngIf="rf.phone_number.errors && (rf.phone_number.touched || rf.phone_number.dirty)"
                class="digi-error-login">
                <div *ngIf="rf.phone_number.errors.required">Mobile number is required</div>
                <div *ngIf="rf.phone_number.errors.pattern">Mobile number must be a valid Mobile number</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="label">Password</label>
            <div class="input-group">
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': rf.password.errors && (rf.password.touched || rf.password.dirty)}" />
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-check"></i></span>
              </div>
              <div *ngIf="rf.password.errors && (rf.password.touched || rf.password.dirty)" class="digi-error-login">
                <div *ngIf="rf.password.errors.required">Password is required</div>
                <div *ngIf="rf.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="jumbotron">Register <span>{{regMess}}</span></button>
          </div>
          <div class="text-block text-center my-3">
            <span class="text-small mr-2">Already have an account?</span>
            <a class="text-black text-small font-weight-semibold" (click)="OnClickSignIn()">Sign in</a>
          </div>
        </form>
        <!-- Forgot password -->
        <form [hidden]="hideForgot" [formGroup]="forgotForm" (ngSubmit)="onForgotSubmit()">
          <div class="form-group">
            <label class="label">Username</label>
            <div class="input-group">
              <input type="text" class="form-control" formControlName="email"
                [ngClass]="{ 'is-invalid': fp.email.errors && (fp.email.touched || fp.email.dirty) }">
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon-check"></i></span>
              </div>
              <div *ngIf="fp.email.errors && (fp.email.touched || fp.email.dirty)" class="digi-error-login">
                <div *ngIf="fp.email.errors.required">Email is required</div>
                <div *ngIf="fp.email.errors.pattern">Plase enter valid email address</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <p class="text-primary" *ngIf="forgotPasswordStatus">Reset links sent successfully, please check your mail
            </p>
            <button class="jumbotron" [disabled]="forgotForm.invalid">Forgot Password</button>
          </div>
          <div class="text-block text-center my-3">
            <span class="text-small mr-2">Already have an account?</span>
            <a class="text-black text-small font-weight-semibold" (click)="OnClickSignIn()">Sign in</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- </div>. -->

</div>