<div class="thread-box-div">
  <img 
    class="thread-image" 
    src="{{url}}" 
    alt="profile" />
  <div class="thread-content-div  {{own}}" >
    <p class="thread-name">{{name}}</p>
    <p class="thread-text">{{text}}</p>
    <div class="thread-time-div">
        <p class="thread-time">{{time}}</p>
    </div>
  </div>
</div>
