.thread-box-div {
  margin: 0px 0px 16px 0px;
  padding: 0px;
}

.thread-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  float: left;
  margin-top: 8px;
}

.thread-content-div {
  border: 1px solid #cccccc;
  padding: 12px 12px 0px 12px;
  border-radius: 5px;
  width: 256px;
  display: inline-block;
  margin-left: 8px;
  line-height: 8px;
}

.thread-name {
  font-weight: 600;
  font-size: 14px;
}

.thread-text {
  font-size: 14px;
}

.thread-time {
  font-size: 12px;
  text-align: right;
}

.thread-time-div {
  float: right;
}

.own-thread {
  background: #abcdef;
}