<div class="row">
  <div class="col-md-12" style="padding-top: 200px">
    <div class="d-flex justify-content-center">
      <a class="twitter-before">
        <span class="fontawesome-twitter"></span>
      </a>
        <a href="http://35.244.0.27/rich-panel/user/twitter_connect/"><button class="twitter">Login Using Twitter</button></a>
    </div>
  </div>
</div>